


<ul class="collapse navbar-collapse" id="ed_menu">
    <li>@Html.ActionLink("Home", "index", "Home")</li>
    <li>@Html.ActionLink("About us", "About", "Home")</li>
    <li>@Html.ActionLink("Services", "Service", "Home")</li>
    <li>@Html.ActionLink("Contact us", "Contact", "Home")</li>
    <li>@Html.ActionLink("Track Shipment", "TrackShipment", "Home")</li>
</ul>
